body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: hsl(0, 100%, 74%) url("../img/bg-intro-desktop.png");
  color: white;
  height: 100vh;
}

h1 {
  font-size: 3em;
}

.description {
  font-weight: 500;
}

.app-offer,
.app-apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-apply p {
  color: hsl(246, 25%, 77%);
  font-size: 11px;
  text-align: center;
}

#first-name,
#last-name,
#email,
#password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  outline: none;
  border: 1px solid #b9b6d3;
  box-sizing: border-box;
  padding: 5%;
}

.app-try-free {
  background-color: hsl(248, 32%, 49%);
  width: 80%;
  border-radius: 0.25em;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 3px #2d2b2ba6;
}
.app-try-free p {
  color: white;
  font-size: 16px;
}

#free-days {
  font-weight: bold;
}

#app-form {
  background-color: white;
  width: 80%;
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: 0px 3px 3px #2d2b2ba6;
}

.user-data {
  display: block;
  width: 90%;
  height: 50px;
  border-radius: 10px;
}

#app-button-trial {
  width: 90%;
  height: 50px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom-color: #2ba671;
  outline: none;
  font-weight: 700;
}

#app-button-trial:hover {
  background-color: #38cc8c;
}

#terms {
  color: hsl(0, 100%, 74%);
}

.user-data {
  margin: 5%;
}

@media screen and (max-width: 500px) {
  .app {
    display: flex;
    flex-direction: column;
  }
  .app-offer p {
    text-align: center;
  }
}
