body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(0, 100%, 74%);
  color: white;
  height: 100vh;
}

.app-offer,
.app-apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#first-name,
#last-name,
#email,
#password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  outline: none;
}

.app-try-free {
  background-color: hsl(248, 32%, 49%);
  width: 80%;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-form {
  background-color: white;
  height: 50vh;
  width: 80%;
  border-radius: 10px;
}

.user-data {
  display: block;
  width: 90%;
  height: 50px;
  border-radius: 10px;
}

#app-button-trial {
  width: 90%;
  height: 50px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-form p {
  color: hsl(246, 25%, 77%);
}

#terms {
  color: hsl(0, 100%, 74%);
}

.user-data {
  margin: 5%;
}

#app-form p {
  color: hsl(246, 25%, 77%);
}
